{{!default}}

<div class="col-md-12">
  <form action="/join" method="post">
    <label for="username">Username</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" id="username">
      </input>
    </div>
    <br />
    <label for="email">Email</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email" id="email">
      </input>
    </div>
    <br />
    <label for="password">Password</label>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" id=password>
      </input>
    </div>
    <br />
    <label for="retype_password">Retype your password</label>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" id="retype_password">
      </input>
    </div>
  </form>
  <br />
  <button type="button" class="btn btn-success">Register</button>
</div>
