{{!default}}

<script>
  function submitAccount() {
    $("#register").get(0).submit()
  }
</script>

<div class="col-md-12">
  <form id="register" action="/register" method="post">
    <label for="username">Username</label>
    <div class="input-group">
      <input type="text" name="username" class="form-control" placeholder="Username" id="username">
      </input>
    </div>
    <br />
    <label for="email">Email</label>
    <div class="input-group">
      <input type="text" name="email" class="form-control" placeholder="Email" id="email">
      </input>
    </div>
    <br />
    <label for="password">Password</label>
    <div class="input-group">
      <input type="password" name="password" class="form-control" placeholder="Password" id=password>
      </input>
    </div>
    <br />
    <label for="retype_password">Retype your password</label>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" id="retype_password">
      </input>
    </div>
  </form>
  <br />
  <button type="button" class="btn btn-success" onclick="submitAccount()">Register</button>
</div>
